/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* key component */
button  {
    border-radius: 10px;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: 600;
    height: 80px;
    padding: 0;
    width: 80px;
    line-height: 0;
}

button.btn-digit {
    background-color: grey;
}

button.btn-operator {
    background-color: black;
    font-size: 85px;
}

button.btn-clear {
    background-color: rgb(237, 131, 31);
    color: black;
}

/* keypad component */

.keypad {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 7px;
    padding: 10px;
    width: 361px;
}

/* screen component */

.screen {
    border: 10px solid black;
    border-radius: 17px;
    height: 75px;
    padding: 5px;
    width: 330px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 0;
    background-color: lightyellow;
}

.display {
    /* font-family: 'digital7'; */
    font-size: 77px;
    margin: 0;
}

/* calculator component */

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 361px;
    background-color: rgb(105, 132, 149);
}
